<!--header start-->
<section class="header " id="header">
  <div class="header7-content">
      <div class="bg bg-stopper"  >
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 col-md-6">
                      <!-- <img src="assets/images/resume/h7.png" alt="" class="img-fluid set-abs bottom-0 right-0"> -->
                  </div>
                  <div class="col-lg-6 col-md-6 offset-lg-1">
                      <div class="center-text">
                          <div>
                              <div class="header-text">
                                  <h1>Benvenuti su<br> <span class="bold-text">STOPPER</span></h1>
                              </div>
                              <div class="header-sub-text">
                                  <h4 class="font-secondary">Statistiche, risultati in tempo reale, e rumors</h4>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--header end-->