$primary-color: #191f3c;
$primary-light-color: #1c2440;
$secondary-color: #1ecb6b;
$third-color: #fff;
$fourth-color: #0e1621;

// INFO / WARNING / DANGER
$info-color: #007bff;
$info-light-color: #64b5f6;
$warning-color: #ffd700;
$danger-color: #ff6b6b;

/**** Dark LAYOUT SECTION **/
$light-color : $primary-color;
$white-1:#f1f3f5;
$white-2:#eaedef;
$white-3:#e7eaec;
$white-4:#dee2e6;
$white-5:#cfd4da;
$border-color:rgba(255, 255, 255, 0.08);
$dark-color: $primary-light-color;
